@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Ubuntu:ital,wght@1,500&display=swap');


body{
    background: url(../img/Live-Wave-Background.svg) no-repeat center;
    margin: 0;
    box-sizing: border-box;
}

#portfolio{
    height: 800px;
    display: flex;
    flex-direction: row;
}

header{
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 10%;
    font-size: 3em;
}

main {
    height: 1100px;
}


nav #menu {
    display: flex; /*1*/
    flex-direction : column; /*2*/
    justify-content: center; /*3*/

}

#content{
    display: grid;
    height: 80vh;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}   

#menu{
    display: flex;
    list-style-type: none;
    height: 100%;
}

#name{
    display: flex;
    justify-content: center;
    font-size: 2em;
    transition: all .3s ease-out;
    color: #fff;
    font-family: 'balsamiq sans';
    font-size: 3rem;
}


#poste{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'balsamiq sans';
}

.content {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li{
    padding: 5%;
    float: left;
}

nav {
    font-family: impact;
}



#projet1 {
    height: 1100px;
}

#card {
    height: 100%;
    width: 100%;
}

.button {
    width: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.button:hover{
    width: 50%;
}

li a {
    display: block;
    width: 60px;
}

#redirect {
    color:red;
}

/* box */


.a-img-txt{
    display:grid; 
 }
  
  /* les enfants se superposent */
  .a-img-txt>*{
    grid-area:1/1/-1/-1; 
  }
  .a-img{
    filter:invert(1);
    width: 100%;
    height: auto;
    border-radius: 30%;
  }
  /* le texte */
  .a-txt{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    opacity:0;
    filter:invert(0); 
    transition:opacity .8s;
  }
  
  /* les couleurs c1 */
  .c1{
      background:#5C9AD3;
      border-radius: 30%;
      font-family: 'balsamiq sans';
  }
  
  
  /* le survol */
  .a-txt:hover{
    opacity:1;
    cursor: pointer;
  }
  .a-img-txt:hover .a-img{
    filter:invert(0);
  }
  /* la déco */
  

a {
    text-decoration:none;
}

#card{
    background: url(../img/Live-Wave-Background.svg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    justify-self: center;
    place-self: center;
    margin-left: 10%;
    height : 70%;
}


.box {
    width: 40%;
    padding-left: 10%;

}

footer {
    display: flex;
    flex-direction: column;
    height: 30%;
}

#reseaux{
    display: flex;
}

#Home{

}

.presentation {
    color: white;
    display: flex;
    flex-direction: column;
    height: 150px;
}

#image2{

    filter:none; 
}

.a-txt c1 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -100%;
    left: -25%;
    width: 150%;
    transition: all 0.9s; }

    .show-nav {
        visibility: visible;
        opacity: 1;

    }   

@media  ( min-width : 300px ) and (max-width : 668px ) { 
    
.container{ 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10%;
    place-self: center;
    justify-self: center;
    margin-left: 0;
}

#name{
        font-size: 1.8em;
    }

.box{
        width: 88%;
        height: 60%;
        padding: 7px;
    }

.show-nav {
        visibility: visible;
        opacity: 1;
        top: 100%; 
}

#menu {
    display: none;
}

#portfolio{
    display: flex;
    height: 700px;
}

#home {
    display: flex;
}

#reseaux {
    display: flex;

}

.button {
    display: flex;
}

#poste {
    font-size: 1em;
}

main {
    height: 900px;
}

}